.pitchContainer {
    position: relative;
    width: fit-content;
    margin: auto;
}

.teamBuilderContainer {
    width: fit-content;
    margin: auto;
}

.selectDisabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dragDisabled {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.responsivePitch {
    composes: selectDisabled;
    max-width: 100%;
    height: auto;
}

