.pitch-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.t-shirt {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 45%;
    left: 10%;
}

.selectDisable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
