body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("assets/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
TODO --colors with chosen ones
 */
:root {
  /*--gradient-background: linear-gradient(90deg, rgb(2, 190, 78) 20%, rgb(0, 170, 3) 53%, rgb(57, 215, 78) 99%);*/
  --color-primary: green;
  --color-primary-light: lightgreen;
  --color-primary-dark: darkgreen;
  --color-secondary-light: lightblue;
  --color-secondary-dark: navy;
  --color-secondary: skyblue;
  --color-accent: pink;
  --color-warning: red;
  --color-success: #4CAF50;
  --color-disabled-background: lightgrey;
  --color-disabled-font: grey;
}
