/** Form container **/
.registration-card {
    background: whitesmoke;
    max-width: 600px;
    margin: auto;
    padding: 5px 20px 10px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 21px 16px 33px -25px rgba(0,0,0,0.66);
    -moz-box-shadow: 21px 16px 33px -25px rgba(0,0,0,0.66);
    box-shadow: 21px 16px 33px -25px rgba(0,0,0,0.66);
}

/* Style inputs, select elements and textareas */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="checkbox"]{
    width: auto;
}


/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: block;
    text-align: left;
}

/* Submit button */
input[type=submit] {
    background-color: var(--color-success);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Submit button when disabled*/
input[type=submit]:disabled {
    background-color: var(--color-disabled-background);
    color: var(--color-disabled-font);
    cursor: not-allowed;
}

/* Error message to the input*/
.error-message {
    color: var(--color-warning);
}
